# PROJECT
public_html/dist/*
public_html/dist/ts_out/*
!public_html/dist/ts_out/empty.file
!public_html/dist/script.bundle.js
!public_html/dist/style.bundle.css
# !public_html/dist/.htaccess

# FOR TESTS

tests/*

.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store


##### NODE JS GITIGNORE #####

node_modules
build
npm-debug.log
.env
.DS_Store